body {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    background-color: #AFEEEE;
}

/* search */
.btn-outline-secondary {
    color: black;
}

/* upload */
#upload_btn {
    background-color: #007fff;
    color: white;
}

/* Extra small devices (portrait phones) */
@media (max-width: 575.98px){

}

/* Small devices (lanscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
    
}