.container-fluid {
    width: 90%;
    margin: 20px auto 20px auto;
}

.img-preview {
    margin: 10px;
    display:inline-block;
    position:relative;
}
.img-preview #delete-btn {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -10px;
    right: 0px;
    border: 0px;
    color: white;
    border-radius: 25px;
    background-color: #f44336;
}
.img-container {
    margin: 30px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.images {
    margin: 20px auto 20px auto;
}