{% extends 'base.html' %}
{% block context %}

<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
</style>

    <div class="align-items-center" style="height: 300px; position:relative; text-align: center;top: 300px;">
        <div>
            <blockquote class="blockquote text-center mb-0"style="text-align: center;">
                <h4 class="mb-0">"NoteSpace is a non-profit website for sharing lecture note"</h4>
            </blockquote>
        <div>
        <div></div>
        
    </div>

    <div class="footer">
        <p>
            Github : <a href="https://github.com/vorasiri/NoteSpace">notespace</a><br>
            Contact : zunchero@gmail.com
        </p>
    </div>
{% endblock context %}