{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>NoteSpace</title>
    <link rel="icon" href="{% static '/logo/NoteSpace_Logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css'%}">
</head>
<body>


    
    <!-- Nav Bar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom shadow-sm container-fluid" >
        <div class="my-0 mr-md-auto font-weight-large ";>
            <h5>
                <a href="{% url 'home_page'%}" style="text-decoration: none">
                    <img border="0" alt="NoteSpace" src="{% static '/logo/NoteSpace_Logo-Name.png' %}" height="50px">
                </a>
            </h5>

        </div>  

        <div class="col-7">
            <form class="form-inline mr-md-auto ml-md-auto " action="{% url 'search' %}" method="GET">
                <input id="searchbox" type="text" class="form-control col-10" placeholder="Search" name="q" aria-describedby="basic-addon2" required>
                <div class="input-group-append ">
                    <button class="btn btn-outline-secondary my-2 my-sm-0 ml-3" type="submit">
                        <img id="search_img" alt="search" src="{% static 'search.png' %}" height="18px"> Search</button>
                </div>
            </form>
        </div> 

        <div class="col-md-1 align-items-center align-middle  text-center  " >
            <div>
                <a href="/help">Help</a>
                &ensp;&ensp;
                <a  href="/about">About</a>
            </div>
        </div>
        
        <nav class="col-1 align-items-right align-middle  text-center">
            <a id="upload_btn" class="btn btn-outline-primary"  href="{% url 'upload_page' %}">Upload</a>
        </nav>

        {% if user.is_authenticated %}
        <div class="align-items-center align-middle text-center" id="name-box">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{ user.username }} </a>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/api/logout">Log out</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-1 align-items-center align-middle  text-center  " id="name-box">
            <div>
                <a id="login" href="/login">Login</a>
                &nbsp;&nbsp;
                <a id="register" href="/register">Register</a>
            </div>
        </div>
        {% endif %}

    </div>
       
        
        
   
    
    {% block context %}
    
    {% endblock context %}

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>