{% extends 'base.html' %}
{% block context %}
<style>
  * {
    box-sizing: border-box
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0
    
  }

  .mySlides {
    display: none
  }

  img {
    vertical-align: middle;
  }

  /* note information */
  .date, .tag_label, #note_name {
    padding-left: 5%;
  }

  #note_name {
    background-color: darkblue;
    width: 40%;
    line-height: 2em;
    color:white;
    font-size: 40px;
  }

  /* Slideshow container */
  .slideshow-container {
    text-align: center;
  }

  .center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev {
    left: 20%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
  }

  /* Position the "next button" to the right */
  .next {
    right: 20%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

  }

  .date {
    font-size: 10pt;
    color: blue;
    text-decoration: none;
  }

  .owner {
    font-size: 10pt;
    color: gray;
    text-decoration: none;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* reviews */
  #reviews, #new_review {
    padding-left: 10%;
  }

  .card {
    border-color: white;
    width: 40%;
    padding-bottom: 10%;
  }

  textarea {
    border-color: #afacac;
    border-radius: 10px;
  }

  #author {
    padding-right: 3%;
  }

  /* rating */ 
  .hide {
    display: none;
  }

  .clear {
    float: none;
    clear: both;
  }

  .rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
  }

  .rating > label {
    display: inline;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
  }

  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }

  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      position: absolute;
      left: 0;
      color: #e2c359;
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
  #shadowbox {
    position: fixed;
    z-index: 998;
    top: 0;
    
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
  }
  
  #banner {
      position: fixed;
      z-index: 999;
      top: 100px;
      left: 250px;
      height: 180px;
      width: 360px;
      background: rgba(172, 195, 223, 0.5);
  }

  #close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
  }
</style>

<div id="banner" >
  <div id="close">Close X</div>
  <a>You need to login before</a><br>
  <input type="text" id="username" placeholder="username" name="username"><br>
  <input type="password" id="password" placeholder="password" name="password"><br>
  <input type="submit" id="login-submit"></button>
  <br>
</div>
<div id="shadowbox"></div>

<div id="note">
  <p id="note_name" style="text-decoration: none;">{{note.name}}</p>
  <span class="date">Published {{note.upload_time}}</span>
  &nbsp;
  <span class="owner">By {{note.owner}}</span>
  <br/>
  <span class="tag_label">Tag:</span>
  <span class="tags">
    {% for tag in note.tags.all %}
      <a href="{% url 'tag_query' tag.title %}">{{ tag.title }}</a>
    {% endfor %}
  </span>
  <div class="slideshow-container">

    {% for url in images_url %}
      <div class="mySlides">
        <img class="center-fit note_img" src="{{ url }}">
      </div>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div style="text-align:center">
    {% for i in images_url %}
      <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
    {% endfor%}
  </div>
  {% if note.desc %}
    <p>{{note.desc}}</p>
  {% endif %}
</div>

<div class="col d-flex justify-content-center">
  <div class="card">
    <div id="reviews">
        <h3>Reviews</h3>
        {% for review in note.reviews.all %}
          {% if review.author %}
            <p>{{review.author}}</p>
          {% else %}
            <p>anonymous</p>
          {% endif %}
          <p>score:{{review.score}}</p>
          <p>{{ review.text }}</p>
          <br>
        {% endfor %}
      </div>
      <hr>
      <div id="new_review">
        <form action="{% url 'add_review_api'%}" method="POST" id="add_review_form" enctype="multipart/form-data">
          {% csrf_token %}
          <div style="position: relative;float: left;">
            <input name="note_id" value="{{note.id}}" hidden>
            <div id="rating-group">
              <label for="rating" id="rate">Rating</label>
              <div class="rating">
                <input id="star5" name="score" type="radio" value="5" class="radio-btn hide"/>
                <label id ="star" for="star5" >☆</label>
                <input id="star4" name="score" type="radio" value="4" class="radio-btn hide"/>
                <label id ="star" for="star4" >☆</label>
                <input id="star3" name="score" type="radio" value="3" class="radio-btn hide"/>
                <label id ="star" for="star3" >☆</label>
                <input id="star2" name="score" type="radio" value="2" class="radio-btn hide"/>
                <label id ="star" for="star2" >☆</label>
                <input id="star1" name="score" type="radio" value="1" class="radio-btn hide"/>
                <label id ="star" for="star1" >☆</label>
                <div class="clear"></div>
            </div>
            </div>
            <br>
            <label id="author" for="author_name">Author</label>
            <input type="text" id="author_name" class="review" name="author">
            <br>
            <div id="textarea-container" style="position: relative;float: left;">
              <label for="text">Text:</label>
              <div id="textarea-container">
                <textarea form="add_review_form" class="review" id="text" rows="4" cols="75" name="text"></textarea><br><br>
              </div>  
            </div>
            <br>
            <button type="button" class="btn btn-primary" id="submit-btn" value="submit">submit</button>
            <input type="submit" id="submit" hidden>
          </div>
        </form>
      </div>
  </div>
</div>
  
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);
  
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
  
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
  
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
    $(document).ready(function () {
      $('#shadowbox, #banner').hide()
        var token = '{{csrf_token}}';
        $("#submit-btn").click(function (event) {
            $.ajax({
                type: "GET",
                url: "/api/haslogin/",
                success: function (res) {
                    console.log(res["has_login"])
                    if (res["has_login"] === true){ 
                        $("#submit").click()
                    }
                    else{
                        $('#shadowbox, #banner').show(); 
                    }  
                },
            });
        });
        
        $('#close').click(function() {
            $(this).parent().hide();
            $('#shadowbox').hide();
        });

        $("#login-submit").click(function (event) {
            $.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                url: "/api/login/",
                data: {
                    'username': $('#username').val(), 
                    'password': $("#password").val()
                },
                success: function (data) {
                    var res = data
                    if (res["status"] === "success"){
                        username = res["username"]
                        console.log(username)
                        $("#name-box").html(`<div><p>Hello, ${username}</p><a href="/api/logout">logout</a></div>`)
                        $('#shadowbox, #banner').hide();
                    }
                    else{
                      $("#banner").append("Wrong username or password")
                    }
                    
                },
            
            });
        });
    });
  </script>
{% endblock context %}