{% extends 'base.html' %}
{% block context %}

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
        .slider {
           width: 100vh;
           height: 100%;
           display: flex;
           overflow-x: auto;
           margin: auto;
        }
        .slide {
           width: 100vh;
           flex-shrink: 0;
           height: 100%;
        }
    </style>
    detailpage
<div class="slider">

    {% for i in images_url %}
        <div class='slide'>
        <img class="center-fit" src="{{ i }}"></a>
        </div>
    {% endfor %}

</div>
ajajhajhja
{% endblock context %}
