{% extends 'base.html' %}
{% block context %}
<style>
  * {
    box-sizing: border-box
  }

  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }

  .mySlides {
    display: none
  }

  img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    text-align: center;
  }

  .center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev {
    left: 20%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
  }

  /* Position the "next button" to the right */
  .next {
    right: 20%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

  }

  .date {
    font-size: 10pt;
    color: blue;
    text-decoration: none;
  }

  .owner {
    font-size: 10pt;
    color: gray;
    text-decoration: none;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
</style>
<div id="note">
  <h1 style="text-decoration: none;">{{note.name}}</h1>
  <span class="date">Published {{note.upload_time}}</span>
  &nbsp;
  <span class="owner">By {{note.owner}}</span>
  <br/>
  Tag:
  <span class="tags">
    {% for tag in note.tags.all %}
        <a href="{% url 'tagQuery' tag.title %}">{{ tag.title }}</a>
    {% endfor %}
  </span>
  <div class="slideshow-container">

    {% for i in images_url %}
      <div class="mySlides">
        <img class="center-fit note_img" src="{{ i }}"></a>
      </div>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div style="text-align:center">
    {% for i in images_url %}
    <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
    {% endfor%}
  </div>
  {% if note.desc %}
    <p>{{note.desc}}</p>
  {% endif %}



  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>
</div>
<div id="reviews">
    <h3>Reviews</h3>
    {% for review in note.reviews.all %}
      {% if review.author %}
        <p>{{review.author}}</p>
      {% else %}
        <p>anonymous</p>
      {% endif %}
      <p>score:{{review.score}}</p>
      <p>{{ review.text }}</p>
      <br>
    {% endfor %}
  </div>
  <p>---------------------------------------------------------------------</p>
  <div id="new_review">
    <form action="{% url 'addreview_api'%}" method="post" id="addreview_form">
      {% csrf_token %}
      <input name="note_id" value="{{note.id}}" hidden>

      <input type="radio" id="star5" name="score" value="5" >
      <label for="star5">5</label>
      <input type="radio" id="star4" name="score" value="4">
      <label for="star4">4</label>
      <input type="radio" id="star3" name="score" value="3">
      <label for="star3">3</label>
      <input type="radio" id="star2" name="score" value="2">
      <label for="star2">2</label>
      <input type="radio" id="star1" name="score" value="1">
      <label for="star1">1</label>
      <br>
      <label for="author_name">Author:</label>
      <input type="text" id="author_name" name="author"><br><br>
      <label for="text">Text:</label>
      <textarea form="addreview_form" id="text" rows="4" cols="50" name="text"></textarea><br><br>
      <input type="submit">
    </form>
  </div>

{% endblock context %}