{% extends "base.html" %}
{% load static %}
{% block context %}        
   <!--Content here-->
   <div id='content'>
        
        <label for="username">username</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="email">email</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="username">password</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="re-password">Re-password</label>
        <input type="password" id="re-password">
        <br>
        <input type="submit" id="submit">
        
    </div>
    <script>
        $(document).ready(function () {
            var token = '{{csrf_token}}';
            $("#submit").click(function (event) {
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    type: "POST",
                    url: "/api/register/",
                    data: {
                        'username': $('#username').val(), // from form
                        'email': $('#email').val(),
                        'password': $("#password").val()
                    },
                    success: function (data) {
                        var res = data
                        if (res["status"] === "success"){
                            $('#content').html("<h2>Register successful!</h2><br><a href='/login'>login here</a>")
                        }
                        else{
                            $("#content").prepend("<p>username already taken</p>")
                        }
                    },
                    error: function(data){
                        console.log("error"+data)
                    }
                });
            });
        });
    </script>
{% endblock context %}
    
