<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Upload</title>
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <div class="my-0 mr-md-auto font-weight-large" ;>
            <h5>
                <a href="{% url 'home_page'%}" style="text-decoration: none">
                    NoteSpace
                </a>
            </h5>

        </div>
        <div class="col-md-1">&nbsp;</div>

        <div class="input-group my-0 ml-md-5 mr-md-5 ">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>

        <nav class="col-md-2">

        </nav>
        <div class="col-md-1">&nbsp;</div>
    </div>

    <div class="container-fluid">
        <form action="">
            <div class="row justify-content-end">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary mb-2">Publish</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- browse picture column -->

                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="LectureName">Lecture note's name</label>
                        <input type="text" class="form-control" id="LectureName">
                        <div class="valid-feedback">
                            Please fill Lecture note's name.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Subject">Subject</label>
                        <input type="text" class="form-control" id="Subject">
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="WriterName">Guest name</label>
                        <input type="text" class="form-control" id="WriterName">
                    </div>
                </div>
            </div>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>