<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Upload the Lecture note</title>
    <link rel="icon" href="../../media/NoteSpace_Logo.png">
</head>

<body>
    <!-- Nav Bar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <div class="my-0 mr-md-auto font-weight-large ";>
            <h5>
                <a href="{% url 'home_page'%}" style="text-decoration: none">
                    <img border="0" alt="NoteSpace" src="../../media/NoteSpace_Logo-Name.png" height="50px">
                </a>
            </h5>

        </div>  
        <div class="my-0 mr-md-5 ml-md-5 col-md-8 col-sm-5">
            <form class="form-inline mr-md-auto ml-md-auto " action="{% url 'search' %}" method="GET">
                        <input type="text" class="form-control col-md-10" placeholder="Search" name="q" aria-describedby="basic-addon2"></input>
                        <div class="input-group-append ">
                            <button  class="btn btn-outline-secondary col-md-auto " type="submit">Search</button>
                        </div>
            </form>
            </div>
        <nav class="col-md-2">
        </nav>
    </div>

    <div class="container-fluid">
        <form action="/upload" method="POST" >
            <div class="row justify-content-end">
                <div class="col-md-2"> <!-- Publish Button -->
                    <button type="submit" class="btn btn-primary mb-2" id="btnPublish">Publish</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"> <!-- Upload Pictures Column -->
                    <form id="form_img">
                        <img id="img_id" src="" class="0"style="max-width:300px;max-height: 300px;" />
                        <br class="0"/>
                        <input id="file_input" class="0" type='file' onchange="upload_img(this);" />
                        <br class="0"/>
                    </form>

                    <form class="md-form" action="#">
                        <div class="file-field">
                            <div class="btn btn-primary btn-sm float-left">
                                <span>Choose files</span>
                                <input type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one or more files">
                            </div>
                        </div>
                    </form>
                    
                    <script type="text/javascript">
                        var i = 0;
                        function upload_img(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                
                                reader.onload = function (e) {
                                    $('#img_id').before(`<button onclick="delete_img(this)" class="${i}">X</button>
                                                         <br class="${i}"/>`)
                                    $('#img_id').attr('src', e.target.result);
                                    
                                    $('#file_input').hide()
                                    $('#file_input').attr('id', "")
                                    $('#img_id').attr('id', "")
                                    
                                    i+=1;
                                   
                                    $('#form_img').append(`<img id="img_id" src=""  class="${i}" style="max-width:300px;max-height: 300px;" >`)
                                    $('#form_img').append(`<br  class="${i}"/>`)
                                    $('#form_img').append(`<input id="file_input"  class="${i}"  type="file" onchange="upload_img(this);" />`)
                                    
                                }
                
                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                        function delete_img(button) {
                            $(`.${button.className}`).remove();
                        }
                        
                    </script>
                </div>
                <div class="col-md-7"> <!-- Info Column -->
                    <div class="form-group">
                        <label for="LectureName">Lecture note's name</label>
                        <input type="text" class="form-control" id="LectureName" name="name">
                        <div class="valid-feedback">
                            Please fill Lecture note's name.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Subject">Subject</label>
                        <input type="text" class="form-control" id="Subject" name="subject">
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" rows="4" name="desc"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="WriterName">Guest name</label>
                        <input type="text" class="form-control" id="WriterName" name"guestname"">
                    </div>
                </div>
            </div>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
