{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Upload the Lecture note</title>
    <link rel="icon" href="{% static '/logo/NoteSpace_Logo.png' %}" >
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/upload_page.css'%}">
</head>

<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a href="{% url 'home_page'%}" class="navbar-brand">
                <img border="0" alt="NoteSpace" src="{% static '/logo/NoteSpace_Logo-Name.png' %}" height="45px">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu-toggler" 
            aria-controls="menu-toggler" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                class="feather feather-menu">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </button>

            <div class="collapse navbar-collapse" id="menu-toggler">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <form class="form-inline" id="navbar-search" action="{% url 'search' %}" method="GET">
                        <div class="form-group">
                            <input type="text" class="search-box form-control" placeholder="Search" name="q" aria-describedby="basic-addon2" required>
                            <button class="btn-search" type="submit">&#9906;</button>
                        </div>
                    </form>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle dropdown-toggle-no-text" data-toggle="dropdown" aria-expanded="false">
                            <span class="d-lg-none">More&nbsp;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                            stroke-linejoin="round" class="feather feather-more-horizontal">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </a>
                        <ul class="dropdown-menu mb-3" style="display: none;">
                            <li class="dropdown-item">
                                <a href="/help" class="nav-link">Help</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/about" class="nav-link">About</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar">
                                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="35" height="35" class="rounded-circle">
                                <span>{{ user.username }}</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-item">
                                <a href="/api/logout" class="nav-link">Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <form action="{% url 'upload_api' %}" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="row justify-content-end">
                <div class="col-md-2"> <!-- Publish Button -->
                    <button type="submit" class="btn btn-primary mb-2" id="btnPublish">Publish</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"> <!-- Upload Pictures Column -->
                    <div id="form_img">
                        <img id="img_id" src="" class="0"style="max-width:300px;max-height: 300px;" />
                        <br class="0"/>
                    </div>
                        
                    <div class="md-form" action="#">
                            <div id="file_field" class="file-field">
                                <input id="file_input" type="file" accept="image/*" style="display: none;" onchange="upload_img_multiple(this)" name="imagefiles" multiple>   
                                <input id="dummy_file_input_btn" type="button" class="btn btn-primary btn-sm float-left" value="Browse..." onclick="document.getElementById('file_input').click();" />
                            </div>
                    </div>
                    
                </div>
                <div class="col-md-7"> <!-- Info Column -->
                    <div class="form-group">
                        <label for="LectureName">Lecture note's name<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="LectureName" name="name" maxlength="200" required>
                        <div class="valid-feedback">
                            Please fill Lecture note's name.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Subject">Subject<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Subject" name="subject"  required>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" rows="4" name="desc" maxlength="1000"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="WriterName">Guest name</label>
                        <input type="text" class="form-control" id="WriterName" name="guestname" maxlength="30">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static "/js/upload_page.js" %}"></script>
    <script>
        $('.dropdown').on('show.bs.dropdown', function(e){
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown(400);
        });

        $('.dropdown').on('hide.bs.dropdown', function(e){
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp(400);
        });

        $(document).scroll(function () {
            var $nav = $(".sticky-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    </script>
        

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
